*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

body{
    background-color: #fff9fc
}

.btn-primary{
    background-color: #ff42a5;
    padding: 16px 45px;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 1.1rem;
}
.btn-secondary{
    padding: 16px 30px;
    background-color: #4EC5F7;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 1.1rem;
    margin-left: 1rem;

}
/*  header section styling  */

header{
    padding: 30px 150px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .icon-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-section img{
    width: 70px;
}
.icon-section h3{
    color: #0B0223;
    font-size: 2.5rem;
    margin-left: .5rem;
    font-weight: 700;
}
.icon-section span{
    color: #FF42A5;

}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul li{
    list-style: none;
    margin-right: 1.5rem;
}
ul li a{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 1.1rem;  
    font-weight: 500;
}
.nav-btn{
    padding: 10px 20px;
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 5px;
}
.nav-btn i{
    margin-left: .5rem;
}
.youtube-icon{
    color: #F61C0D;;
}
.tiktok-icon{
    color: #000000;
}

/*      banner section  */
main{
    padding: 50px 0;
    max-width: 1100px;
    margin: 0 auto;
}
.banner-section{

}
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    width: 60%;
    background-image: url(images/Group\ 14.png);
    background-position: 0% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 4rem;
}
.banner-content h3{
    color: #0B0223; 
    font-size: 2.5rem;
    font-weight: 600;
}
.banner-content h1{
    color: #c98ae7;
    font-size: 5rem;
    font-weight: 900;
    margin: 1rem 0;
}
.banner-content p{
    margin-top: .5rem;
    color: #534C64;
    font-weight: 500;
    font-size: 1.25rem;
}
.banner-content button{
    margin-top: 30px;
}
.banner-img img{
    width: 100%;
}

/*       styling gamer section    */

.gamer-section{
    padding: 10rem 0;
}
.gamer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gamer-img img{
    width: 100%;
}
.gamer-content{
    width: 80%;
    text-align: right;
}
.gamer-content h3{
    color: #c98ae7;
    font-size: 3rem;
    font-weight: 700;
}
.gamer-content p{
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    margin: 1rem 0;
}
.gamer-content h4{
    font-size: 1.2rem;
    color: #534C64;
    font-weight: 700;
}

/*   styling online game section  */
.online-game-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}
.online-game-title span{
    color: #c98ae7;
}
 .game-sub-title{
    text-align: center;
    margin: 1.5rem 0 4rem;
}

.online-game-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}
.online-game-card img{
    width: 100%;
}
.online-game-card p{
    margin-top: 1rem;
    color: #534C64;
    font-weight: 500;
}
.online-game-card{
    position: relative;
}
.hover-card{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    background-color: transparent;
    height:84.5%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .3s ease-in-out;
}
.hover-card div{
    text-align: center;
}
.hover-card i{
    color: #ffff;
    font-size: 40px;
}
.hover-card p{
    color: #ff42a5;
    font-size: 1.1rem;
}
.hover-card:hover{
    background-color: rgba(5, 2, 2, 0.501);
    opacity: 1;
}
/*-----------play instant section style-----*/
.play-instant-section{
    padding: 7rem 0 2rem;
}
.play-instant-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.play-instant-content{
    text-align: right;
    margin-right: 7rem;
   
}
.play-instant-content h3{
    font-size: 3rem;
    font-weight: 700;
}
.play-instant-content h3 span{
    color: #c98ae7;
}
.play-instant-content p{
    margin: 1rem 0;
    line-height: 26px;
    color: #534C64;
    font-weight: 400;
    font-size: 1.1rem;
}
.main-img{
    width: 100%;
}
.over-img{
    position: relative;
    width: 180px;
    height: 180px;
    bottom: 120px;
    left: -70px;
}

/*--------items games section--*/
.items-games-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.items-games{
    display: flex;
    align-items: center;
    padding: .5rem;
    margin-top: 3rem;
    margin-left: 1rem;
    transition: 0.3s ease-in-out;
    border: 1px solid transparent;
}
.items-games:hover{
    border: 1px solid #ff42a5;
    border-radius: 10px;
    color: #ff42a5;
}
.items-games:hover p{
    color: #FF42A5;
}

.items-games p{
    color: #0B0223;
    font-weight: 600;
    font-size: 1rem;
    margin-left: .5rem;
}
.items-games img{
    width: 50px;
}


/*     footer-section   */
footer{
    padding: 7rem 0;
    background-color: #0b0223;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-icon-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-icon-section img{
    width: 70px;
}
.footer-icon-section h3{
    font-size: 3rem;
}
.footer-icon-section span{
    color: #ff42a5;
}
.about-our{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin: .8rem 0;
}
.footer-icon{
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 1.6rem;
    margin-top: 1.5rem;
}
.terms-and-condition{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    color: rgba(255, 255, 255, 0.60);
}
.copy-right-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
}




/*      responsive for mobile device   */


@media screen and (max-width:576px) {
    header{
        padding: 50px 10px;
    }
    .navbar,ul,.gamer-container,.play-instant-container{
        flex-direction: column;
    }
    ul li{
        margin-top: 1rem;
    }
    main{
        padding: 40px 30px;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-content h3{
        font-size: 2rem;
    }
    .banner-content h1{
        font-size: 4rem;
    }
    .banner-content .btn-secondary,.btn-primary{
        margin: .5rem auto;
        padding: 10px 40px;
        font-size: .9rem;
    }
    .banner-content{
        margin: 4rem 1rem;
        background-size: cover;
        background-position: center;
    }
    .gamer-section{
        padding: 2rem 0;
    }
    .gamer-content{
        text-align: center;
    }
    .gamer-content h3{
        font-size: 2rem;
    }
    .gamer-content h4{
        font-size: 1rem;
    }
    .online-game-section{
        margin-top: 3rem;
    }
    .online-game-title{
        font-size: 1.6rem;
        font-weight: 800;
    }
    .game-sub-title{
        font-size: 14px;
    }
    .online-game-container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .online-game-card p{
        margin-top: .3rem;
    }
    .play-instant-section{
        padding: 4rem 0 0 0;
    }
    .play-instant-content{
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    .play-instant-content h3{
        font-size: 2rem;
    }
    .play-instant-content p{
        margin-bottom: 4rem;
    }
    .main-img{
        width: 100%;
        margin: 0 auto;
    }
    .over-img{
        left: -20px;
    }
    .items-games{
        width: 80px;
        margin-top: 1rem;
    }
    .items-games p{
        font-size: .7rem;
        margin-left: 1px;
    }
    .items-games img{
        width: 25px;
    }
   .about-our{
      flex-wrap: wrap;
      max-width: 80%;
      margin: 1.5rem auto 3rem auto;
   }
   .footer-icon{
    font-size: 1.3rem;
   }
   .terms-and-condition{
      max-width: 80%;
      flex-wrap: wrap;
      margin: 3rem auto;
      gap: .8rem;
   }
   .hover-card{
    height: 89%;
   }
}

/*    responsive for tablet device  */

@media screen and (min-width:576px) and (max-width:992px) {
    .navbar{
        flex-direction: column;
        margin: 0 auto;
    }
    ul{
        margin-top: 25px;  
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .btn-primary,.btn-secondary{
        padding: 10px 15px;
        font-size: 1rem;
    }
    .banner-content{
        margin-top: 5rem;
        width: 100%;
        text-align: center;
    }
    .gamer-section{
        padding: 2.5rem 0;
    }
    .gamer-container{
        flex-direction: column;
    }
    .gamer-content{
        text-align: center;
    }
    .online-game-card{
        margin: .5rem 1rem;
    }
    .online-game-section{
        padding-top: 3rem;
        padding-bottom: 0;
    }
    .online-game-section p{
        margin: 1rem 0 3rem;
    }
    .online-game-container{
        grid-template-columns: repeat(2,1fr);
    
    }
    .play-instant-section{
        padding: 3rem 0 2rem;
    }
    .play-instant-container{
        flex-direction: column;
    }
    .play-instant-content{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .main-img{
        width: 80%;
        margin-left: 5rem;
        margin-top: 3rem;
    }
    .over-img{
        left: 20px;
    }
    .items-games{
        margin-top: 1rem;
    }
}
